biosppy==1.0.0
Flask==3.0.3
matplotlib==3.8.3
mne==1.2.1
numpy==1.22.3
opencv-python==4.9.0.80
pandas==1.4.2
pyEDFlib==0.1.30
PyYAML==6.0.1
scikit-learn==1.1.1
scipy==1.11.4
torch==1.11.0
torchaudio==0.11.0
torchsampler==0.1.2
torchvision==0.12.0
tqdm==4.66.2
Werkzeug==3.0.2
wfdb==4.1.2
zipp==3.18.1